body{
    background-color:rgb(250, 241, 241);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 11, 11);
}
header{
    font-size: 50px;
    text-align: center;
}
.TOP1{
    background-color: rgb(29, 80, 124);
}